{
  "trailingComma": "es5",
  "arrowParens": "avoid",
  "tabWidth": 2,
  "endOfLine": "auto",
  "semi": true,
  "htmlFormatWrapAttributes": "force-aligned",
  "singleQuote": true,
  "proseWrap": "always",
  "printWidth": 80
}
